PROD_BOT_TOKEN=
DEV_BOT_TOKEN=
THREAD_POOL_SIZE=10
THREAD_TIMEOUT_MS=5000
DATASOURCE_HOST_PORT=5739
DATASOURCE_CONTAINER_PORT=5432
DATASOURCE_USERNAME=postgres
DATASOURCE_PASSWORD=postgres
SUPPORT_USERNAME=almax_good
SUPPORT_MESSAGE_TEMPLATE="Здравствуйте, у меня есть вопрос по коре."
GRAFANA_ADMIN_PASSWORD=